# ignore all .txt files
*.txt

# ignore meine Notizen
lecture/

# ignore .sty files
*.sty

# ignore local store history
.DS_Store

# ignore TeX auxillaries
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.gz
*.toc

# ignore Zusatzmaterial
specials/